.swiper_container {
  align-items: center;
  display: flex;
  height: 50vw;
  max-width: 51em;
  width: 100%;
}

.swiper_container img {
  height: 100%;
  width: 100%;
}

@media (min-width: 860px) {
  .swiper_container {
    height: 24em;
  }
}
