.footer {
  background-color: #02381a;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  justify-content: center;
  min-height: 100vh;
  padding: 0.6em 1.3em;
  width: 100%;
}

.footer_icon {
  color: #fff;
  margin-right: 0.3em;
  vertical-align: middle;
}

.footer h3 {
  border-bottom: 0.2em solid #c7ffcf;
  color: #c7ffcf;
  padding-left: 0.2em;
  padding-bottom: 0.2em;
  margin-bottom: 0.5em;
}

.footer p {
  color: #fff;
}

.contact_info_container,
.contact_info_container .contact_options,
.payment_options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.contact_info_container .working_days,
.contact_info_container .contact_options,
.contact_info_container .contact_options p,
.payment_options,
.payment_option img {
  width: 100%;
}

.payment_options {
  justify-content: center;
}

.payment_option {
  align-items: center;
  background-color: #fff;
  border-radius: 0.4em;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  width: 30%;
}

.newsletter_container input {
  border: 0.1em solid #333;
  border-radius: 0.3em;
  margin-top: 0.7em;
  padding: 0.5em;
  width: 100%;
}

.newsletter_container input:focus {
  border: 0.1em solid #007710;
  box-shadow: 0 0 0.2em #46ff5e;
}

.download_our_apps_container {
  align-items: center;
  display: flex;
  gap: 0.5em;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.download_our_apps_container img {
  cursor: pointer;
  width: 48%;
}

.footer_logo {
  align-self: center;
  border-radius: 1em;
  width: 90%;
}

@media (min-width: 450px) {
  .payment_option {
    width: 8em;
  }

  .download_our_apps_container {
    width: 20em;
  }

  .download_our_apps_container img {
    width: 100%;
  }

  .footer_logo {
    width: 20em;
  }
}

@media (min-width: 768px) {
  .footer {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 15.25em;
  }

  .contact_info_container,
  .payment_options_container {
    width: 40%;
  }

  .newsletter_container, .download_our_apps_container {
    margin: auto;
    max-width: 30em;
    width: 100%;
  }

  /* .footer * {
    max-width: 38em;
  } */
}
