.message {
  border: 1px solid #000;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 1em;
  padding-right: 2em;
  position: fixed;
  right: 2%;
  top: 2%;
  width: max-content;
}

.message svg {
  cursor: pointer;
  position: absolute;
  right: 3%;
}

.success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}
