#wrapper h1 {
  margin-bottom: 1em;
}

.shopping_cart_table {
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-x: auto;
  padding-bottom: 1em;
  width: 100%;
} /* come back */

.shopping_cart_table thead,
.shopping_cart_table tbody {
  width: 100%;
}

.shopping_cart_table thead {
  border-block: 1px solid #ddd;
  padding-block: 0.5em;
}

.shopping_cart_table thead tr th,
.shopping_cart_table tbody tr td {
  width: 10%;
}

.shopping_cart_table tbody tr {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.shopping_cart_table tbody tr td {
  text-align: center;
}

.shopping_cart_table tbody img {
  width: 100%;
}

.shopping_cart_table tbody svg {
  cursor: pointer;
}

.remove_product_from_cart svg {
  height: 1.2em;
  width: 1.2em;
}

.product_quantity input {
  height: 3em;
  text-align: center;
  width: 80%;
}

.product_quantity input::-webkit-inner-spin-button {
  display: none;
}

@media (min-width: 850px) {
  .shopping_cart_table {
    width: 65%;
  }

  .shopping_cart_table thead tr th,
  .shopping_cart_table tbody tr td {
    width: 10%;
  }

  .shopping_cart_table tbody img {
  }
}
