.form_input_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form_input_container label {
  font-weight: bold;
  margin-bottom: 0.6em;
}

.form_input_container input {
  border: none;
  border-radius: 0;
  max-width: 600px;
  padding: 11px;
  width: 100%;
}

.form_input_container input:focus {
  transition: transform 0.1s ease-out;
  transform: scale(1.01);
  outline: 1px solid #444;
}

.form_input_container input::placeholder {
  color: #7b7b7b;
}
