.form {
  max-width: 600px;
  width: 100%;
}

#submit_button {
  align-items: center;
  background-color: #000;
  border: none;
  color: #77ffab;
  cursor: pointer;
  display: flex;
  gap: 5px;
  padding: 10px 15px;
  width: max-content;
}

#submit_button:active {
  background-color: #333;
}
